<footer>
    <div class="ayuda-clientes">
        <h3 class="atencion-clientes">AYUDA <i class="fa-solid fa-angle-down"></i></h3>
        <ul class="contactos">
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">¿Cómo comprar?</a></li>
            <li><a href="">Entregas</a></li>
            <li><a href="">Cambios</a></li>
        </ul>
    </div>

    <div class="ayuda-clientes">
        <h3 class="atencion-clientes">REDES SOCIALES <i class="fa-solid fa-angle-down"></i></h3>
        <ul class="contactos">
            <li><a href="">Instagram <i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="">Facebook <i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="">Twitter <i class="fa-brands fa-square-twitter"></i></a></li>
        </ul>
    </div>

    <div class="ayuda-clientes">
        <h3 class="atencion-clientes">ATENCION AL CLIENTE <i class="fa-solid fa-angle-down"></i></h3>
        <ul class="contactos">
            <li><a href="">Lunes a viernes de 9 a 20hs</a></li>
            <li><a href="">Sábado de 9 a 17hs</a></li>
            <li><a href="">fivegroup@gmail.com</a></li>
            <li><a href="">0800-FIVEGROUP</a></li>
        </ul>
    </div>

    <div class="flecha-div">
        <button class="flecha-inicio"><i class="fa-solid fa-circle-up"></i></button>
    </div>
    
    <script>
        let btn = document.querySelector("button")
    
        btn.addEventListener("click", function() {
          window.scrollTo(0, 0)
        })
    </script>
   
</footer>


