<header id="header">
    <div class="cabecera" >

        <div class="header-mobile">

            <div class="iconos hambur"><i class="fas fa-bars"></i></div>
            <div class="iconos">
                <a class="logo-principal" href="/"><img src="/images/logo.jpg" alt="logo"></a>
                <!-- <a class="logo-mobile" href="/index.html"><img src="/images/logo-mobile.jpg" alt="logo-mobile"> --></a>
            </div>
            <div class="iconos2">
                <div class="iconos">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="iconos">
                    <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>

                <% if (locals.isLogged) { %>
                
                <div class="iconos">
                    <a href="/logout" name="logout"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
                <% } %> 
            </div>

        </div>

        <nav class="menu">
            <ul class="lista-menu">
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Niño</a></li>
                <li><a href="#">Niña</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </div>

    <div class="buscar-div">
        <label for=""></label>
        <input type="text" placeholder=" Buscar productos, marcas y más" required class="buscar">
        <i class="fas fa-search"></i>
    </div>
</header>