<!DOCTYPE html>
<html lang="en">

<%- include('../views/partials/head.ejs') %> 

<body>

    <!-- ********** HEADER *********** -->
    <header>
        <div class="cabecera">

            <div class="header-mobile">

                <div class="iconos hambur"><i class="fas fa-bars"></i></div>
                <div class="iconos">
                    <a class="logo-principal" href="/"><img src="/images/logo.jpg" alt="logo"></a>
                    <!-- <a class="logo-mobile" href="/index.html"><img src="/images/logo-mobile.jpg" alt="logo-mobile"> --></a>
                </div>
                <div class="iconos2">
                    <div class="iconos">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <div class="iconos">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>

            </div>

            <nav class="menu">
                <ul class="lista-menu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Niño</a></li>
                    <li><a href="#">Niña</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
        </div>

        <div class="buscar-div">
            <label for=""></label>
            <input type="text" placeholder=" Buscar productos, marcas y más" required class="buscar">
            <i class="fas fa-search"></i>
        </div>
    </header>


    <!-- ********** MAIN *********** -->
    <main>
        <h3>Lo mas vendido <i class="fa-solid fa-fire" style="color: red;"></i></h3>
        <section>

            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                        src="/images/hombre/nike-running-revolution-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>Nike Revolution 6NN</h4>
                    </div>
                    <p class="precio">$16.599</p>
                </div>
            </article>


            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                        src="/images/hombre/new-balance-arishi-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>New Balance Running Fresh Foam Greem Leaf</h4>
                    </div>
                    <p class="precio">$9.000</p>
                </div>
            </article>

            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                        src="/images/mujer/asics-trail-lite-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>Asics Trail Running Fuji Lite 2</h4>
                    </div>
                    <p class="precio">$11.700</p>
                </div>
            </article>

            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                        src="/images/mujer/reebok-gilde-ripple-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>Reebok Royal Gilde Ripple CLP</h4>
                    </div>
                    <p class="precio">$7.400</p>
                </div>
            </article>
        </section>

        <h3>Ofertas relámpago <i class="fa-solid fa-bolt" style="color:#d5d834;"></i></h3>
        <section>
            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                    src="/images/hombre/nike-court-vision-mid-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>Nike Court Vision Mid</h4>
                    </div>
                    <div class="pago">
                        <p class="precio">$12.230</p>
                        <p class="descuento">10% off</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                    src="/images/mujer/adidas-60s-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>Adidas 60S 2.0</h4>
                    </div>
                    <div class="pago">
                        <p class="precio">$9.200</p>
                        <p class="descuento">20% off</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <a class="imagen-producto" href="/product-detail"><img
                    src="/images/niña/adidas-racer-tr21-1.jpg"></a>
                <div class="info-producto">
                    <i class="fas fa-truck"></i>
                    <div class="descripcion">
                        <h4>Adidas Racer TR21 Niño</h4>
                    </div>
                    <div class="pago">
                        <p class="precio">$6.662</p>
                        <p class="descuento">20% off</p>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <!-- ********** FOOTER *********** -->
    <%- include('../views/partials/footer.ejs') %>
</body>

</html>