<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-index.css">
</head>

<body>

    <!-- ********** HEADER *********** -->
    <header>
        <div class="cabecera">
            <div class="burger-menu"><i class="fas fa-bars"></i></div>
            <div class="logos">
                <a class="logo-principal" href="/index.html"><img src="/images/logo.jpg" alt="logo"></a>
                <a class="logo-mobile" href="/index.html"><img src="/images/logo-mobile.jpg" alt="logo-mobile"></a>
               <div class="iconos-menu">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
               </div>
            </div>

            <nav class="menu">
                <ul class="lista-menu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Niño</a></li>
                    <li><a href="#">Niña</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
        </div>

        <div class="buscar">
            <input type="text" placeholder="Buscar productos, marcas" required>
            <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
        </div>
    </header>

    <!-- ********** MAIN *********** -->
    <main>
        <h3>Lo mas vendido</h3>
        <section class="lo-mas-vendido">
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$8.488</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion">
                            <h4>Nike Revolution 6NN</h4>
                        </div>
                    </div>
                    </div>
            </article>
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Hombre/New Balance Running Fresh Foam Arishi V3 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$9.000</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion">
                            <h4>New Balance Running Fresh Foam Greem Leaf</h4>
                        </div>
                    </div>
                    </div>
            </article>
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Mujer/Asics Trail Running Fuji Lite 2 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$11.700</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion">
                            <h4>Asics Trail Running Fuji Lite 2</h4>
                        </div>
                    </div>
                    </div>
            </article>
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Mujer/Reebok Royal Gilde Ripple CLP 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$7.400</p>
                        <p class="descuento">25% off</p>
                        <div class="descripcion">
                            <h4>Reebok Royal Gilde Ripple CLP</h4>
                        </div>
                    </div>
                    </div>
            </article>
        </section>

        <h3>Ofertas relampago</h3>
        <section class="ofertas-relampago">
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Hombre/Nike Court Vision Mid 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$12.230</p>
                        <p class="descuento">10% off</p>
                        <div class="descripcion">
                            <h4>Nike Court Vision Mid</h4>
                            <h4 class="envio-gratis">Envío gratis</h4>
                        </div>
                    </div>
                    </div>
            </article>
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Mujer/Adidas 60S 2.0 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.662</p>
                        <p class="descuento">20% off</p>
                        <div class="descripcion">
                            <h4>Adidas 60S 2.0</h4>
                            <h4 class="envio-gratis">Envío gratis</h4>
                        </div>
                    </div>
                    </div>
            </article>
            <article class="producto">
                <a class="imagen-producto" href="/productDetail"><img
                        src="/images/Calzado deportivo/Niña/Adidas Running Racer TR21 1.jpg"></a>
                <div">
                    <div class="info-producto">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.662</p>
                        <p class="descuento">20% off</p>
                        <div class="descripcion">
                            <h4>Adidas 60S 2.0</h4>
                            <h4 class="envio-gratis">Envío gratis</h4>
                        </div>
                    </div>
                    </div>
            </article>

        </section>

    </main>

    <!-- ********** FOOTER *********** -->
    <footer>

    </footer>

</body>

</html>