<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-index.css">
</head>

<body>
    <div class="main-header-top-bar">
        <a href="/"><img src="/public/images/logo.jpg" class="banner"></a>
        <form id="form search">
            <element class="lupa"></element>
            <input type="search" placeholder=" Buscar... &#128270;" class="search-bar"><i class="fas fa-search"></i>
        </form>

    </div>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Niño</a></li>
            <li><a href="#">Niña</a></li>
            <li><a href="#">marcas</a></li>
            <li><a href="#">Ofertas</a></li>
        </ul>
    </nav>

    <section class="main">
        <h3>Lo mas vendido</h3>
        <div class="main-container">

            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 1.jpg">
                <img src="/public/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 2.jpg">
                <img src="/public/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 3.jpg">
                <img src="/public/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 4.jpg">
                <div class="display-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$8.488</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Nike Revolution 6NN</h4>

            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Hombre/New Balance Running Fresh Foam Arishi V3 1.jpg">
                <img src="/public/images/Calzado deportivo/Hombre/New Balance Running Fresh Foam Arishi V3 2.jpg">
                <img src="/public/images/Calzado deportivo/Hombre/New Balance Running Fresh Foam Arishi V3 3.jpg">
                <img src="/public/images/Calzado deportivo/Hombre/New Balance Running Fresh Foam Arishi V3 4.jpg">
                <div class="display-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$11.417</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">New Balance Running Fresh Foam Greem Leaf</h4>

            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Mujer/Asics Trail Running Fuji Lite 2 1.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Asics Trail Running Fuji Lite 2 2.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Asics Trail Running Fuji Lite 2 3.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Asics Trail Running Fuji Lite 2 4.jpg">
                <div class="display-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$11.781</p>
                    <h4 class="descripcion">Asics Trail Running Fuji Lite 2</h4>

            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Mujer/Reebok Royal Gilde Ripple CLP 1.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Reebok Royal Gilde Ripple CLP 2.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Reebok Royal Gilde Ripple CLP 3.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Reebok Royal Gilde Ripple CLP 4.jpg">
                <div class="display-descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$7.741</p>
                    <p class="descuento">25% off</p>
                    <h4 class="descripcion">Reebok Royal Gilde Ripple CLP</h4>

    <section class="main">
        <h3>Ofertas relampago</h3>
        <div class="main-container">
            
            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Hombre/Nike Court Vision Mid 1.jpg">
                <img src="/public/images/Calzado deportivo/Hombre/Nike Court Vision Mid 2.jpg">
                <img src="/public/images/Calzado deportivo/Hombre/Nike Court Vision Mid 3.jpg">
                <img src="/public/images/Calzado deportivo/Hombre/Nike Court Vision Mid 4.jpg">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$11.233</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Nike Court Vision Mid</h4>
                    <h4 class="footer-text">Envío gratis</h4>
            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Niño/Adidas Velcro Advantage Niño 1.jpg">
                <img src="/public/images/Calzado deportivo/Niño/Adidas Velcro Advantage Niño 2.jpg">
                <img src="/public/images/Calzado deportivo/Niño/Adidas Velcro Advantage Niño 3.jpg">
                <img src="/public/images/Calzado deportivo/Niño/Adidas Velcro Advantage Niño 4.jpg">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$3.170</p>
                    <p class="descuento">25% off</p>
                    <h4 class="descripcion">Adidas Velcro Advantage</h4>

            <article class="display-articulos">
                <img src="/public/images/Calzado deportivo/Mujer/Adidas 60S 2.0 1.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Adidas 60S 2.0 2.jpg">
                <img src="/public/images/Calzado deportivo/Mujer/Adidas 60S 2.0 3.jpg">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.662</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">Adidas 60S 2.0</h4>

            <article class="display-articulos">
                <img src="\public\images\Calzado deportivo\Niña\Adidas Running Racer TR21 1.jpg">
                <img src="\public\images\Calzado deportivo\Niña\Adidas Running Racer TR21 2.jpg">
                <img src="\public\images\Calzado deportivo\Niña\Adidas Running Racer TR21 3.jpg">
                <img src="\public\images\Calzado deportivo\Niña\Adidas Running Racer TR21 4.jpg">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$7.803</p>
                    <h4 class="descripcion">Adidas Running Racer TR21</h4>
                    <h4 class="footer-text">Envío gratis</h4>


</body>

</html>