<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes - Detalle de Producto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
</head>

<body>

    <!-- ********** HEADER *********** -->

    <header>
        <div class="cabecera">

            <div class="header-mobile">

                <div class="iconos hambur"><i class="fas fa-bars"></i></div>
                <div class="iconos">
                    <a class="logo-principal" href="/"><img src="/images/logo.jpg" alt="logo"></a>
                    <!-- <a class="logo-mobile" href="/index.html"><img src="/images/logo-mobile.jpg" alt="logo-mobile"> --></a>
                </div>
                <div class="iconos2">
                    <div class="iconos">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <div class="iconos">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>

            </div>

            <nav class="menu">
                <ul class="lista-menu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Niño</a></li>
                    <li><a href="#">Niña</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
        </div>

        <div class="buscar-div">
            <label for=""></label>
            <input type="text" placeholder=" Buscar productos, marcas y más" required class="buscar">
            <i class="fas fa-search"></i>
        </div>
    </header>

    <!-- ********** MAIN *********** -->

    <main>
        <div class="info-completa">
            <div class="slider-frame">
                <ul>
                    <li><img src="/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 1.jpg" alt=""></li>
                    <li><img src="/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 3.jpg" alt=""></li>
                    <li><img src="/images/Calzado deportivo/Hombre\Nike Running Revolution 6NN 2.jpg" alt=""></li>
                </ul>
            </div>
            <div class="talle-cantidad-botones">
                <div class="info-producto">
                    <h1>Nike Running Revolution 6 Nn Gs</h1>
                    <br>
                    <div class="precio-descuento">
                        <p class="precio">$8.488</p>
                        <p class="descuento">10% off</p>
                    </div>
                </div>
                <div class="radio">
                    <b>
                        <h2>Talles</h2>
                    </b>
                    <input type="radio" name="SeleecionarTalle" id="38">
                    <label for="38">38</label>

                    <input type="radio" name="SeleecionarTalle" id="40">
                    <label for="40">40</label>

                    <input type="radio" name="SeleecionarTalle" id="42">
                    <label for="42">42</label>

                    <input type="radio" name="SeleecionarTalle" id="43">
                    <label for="43">43</label>
                </div>

                <div class="cantidad-productos">
                    <b><label class="cantidad">Cantidad</label></b>
                    <input type="number" name="cantidad">
                </div>

                <div>
                    <button type="button" class="boton-carrito">Agregar a carrito</button>
                </div>
            </div>
        </div>
        <div class="descripcionTexto">
            <b>
                <h2>Descripción</h2>
            </b>
            <div class="descripcion-zapa">
                <p>Las Zapatillas Nike Revolution 6 Nn Gs son un calzado todoterreno
                    ideal para los atletas más jóvenes.
                    Su capellada es ligera y transpirable para aportar mayor confort y
                    cuenta con un talón con revestimiento para brindar soporte y estabilidad en cada
                    pisada.
                    Tiene una espuma suave en la planta del pie para mejorar la amortiguación y
                    ayudarte en cada actividad que elijas.
                </p>
            </div>
        </div>

        <div class="característicasLista">
            <h3>Características</h3>
            <nav class="caractisticas">
                <ul>
                    <li>Género: Unisex</li>
                    <li>Adecuado para: Correr</li>
                    <li>Material: Malla</li>
                    <li>Beneficios: Amortiguación</li>
                    <li>Composicion: Capellada</li>
                    <li>Caña: Baja</li>
                    <li>Ajuste: Con cordones</li>
                    <li>Suela: goma</li>
                    <li>Origen: Importado</li>
                    <li>Marca: Nike</li>
                </ul>
            </nav>
        </div>

    </main>

    <!-- ********** FOOTER *********** -->

    <footer>
        <div class="ayuda-clientes">
            <h3 class="atencion-clientes">AYUDA <i class="fa-solid fa-angle-down"></i></h3>
            <ul class="contactos">
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">¿Cómo comprar?</a></li>
                <li><a href="">Entregas</a></li>
                <li><a href="">Cambios</a></li>
            </ul>
        </div>

        <div class="ayuda-clientes">
            <h3 class="atencion-clientes">REDES SOCIALES <i class="fa-solid fa-angle-down"></i></h3>
            <ul class="contactos">
                <li><a href="">Instagram <i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href="">Facebook <i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="">Twitter <i class="fa-brands fa-square-twitter"></i></a></li>
            </ul>
        </div>

        <div class="ayuda-clientes">
            <h3 class="atencion-clientes">ATENCION AL CLIENTE <i class="fa-solid fa-angle-down"></i></h3>
            <ul class="contactos">
                <li><a href="">Lunes a viernes de 9 a 20hs</a></li>
                <li><a href="">Sábado de 9 a 17hs</a></li>
                <li><a href="">fivegroup@gmail.com</a></li>
                <li><a href="">0800-FIVEGROUP</a></li>
            </ul>
        </div>
        <div class="flecha-div">
            <span class="flecha-inicio"><i href="#" class="fa-solid fa-circle-up"></i></span>
        </div>

    </footer>

</body>

</html>