* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: gray;
    margin: 0;
}

/********** HEADER **********/
header {
    background-color: #DEF3EB;
    padding: 2px;
}

.header-mobile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 2em;
    color: #156C4A;
}

header ul li a{
    text-decoration: none;
    color: #156C4A;
    margin: 5px 10px;  
    justify-content: space-around;  
}

header ul {
    list-style: none;
    display: flex;
}

header img {
    width: 200px;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
}

 input{
    display:flex;
    width : 300%;
    height: 20%;
    position: relative;
    margin: 5% 10%;
    border-radius: 10px;
    opacity: 0,4;
 }
 
 button.lupa{
        position: absolute;
        width: auto;
        height: auto;
        right: 10%;
        opacity: 0.6;
        border: none;
        background: none;     
 }

.burger-menu {
    text-align: center;
}

.burger-menu i{
    padding: 15px;
    margin: 20px 10px; 
    color: #156C4A;
    background-color: #DEF3EB;
    border-radius: 5px;
    width: 20%;
}

.lista-menu {
    display: none;
}
  
 /********** MAIN **********/
 main{
     width: 90%;
     margin: auto;
 }

 .producto{
     max-width: 400px;
 }

 .imagen-producto img{
     width: 90%;
     margin: auto;
     display: flex;   
 }

 .info-producto{
     width: 90%;
     margin: auto;
     text-align: left;
     margin-bottom: 5%;
     background-color: white;
 }
 
 .precio{
     margin: 0;
 }

 .descuento{
     margin: 0;
 }

 .descripcion h4{
     margin: 0;
 }
 
 /********** FOOTER **********/

 footer {
    background-color: #DEF3EB;
    padding: 15px 20px 10px 0px;
 }

 .help {
    display: none;
 }
 
 .red {
    display: none;
 }
 .contact {
    display: none;
 }

 footer h3 {
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    background-color: #156C4A;
    align-items: center;
    border-radius: 10px;
 }

.flecha-inicio {
    position: relative;
    left: 90%;
    color: #156C4A;
    text-align: center;
    font-size: 30px;
}

 /********** FOOTER VERSION ESCRITORIO ********** /*

/*footer {
    background-color: #DEF3EB;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

footer ul li a{
    text-decoration: none;
    color: #000;
} /*
