* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #DEF3EB;
    margin: 0;
    padding: 0%;
}

/********** HEADER **********/

header {
    background-color: #24262b;
    padding: 10px 2px 20px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
}
.header-mobile {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #156C4A;
}
.header-mobile img{
    display: flex;
    width: 100%;
    max-width: 200px;
    max-height: 80px;
    align-items: center;
    margin-bottom: 10px;
}
.iconos{
    padding: 0 2vw;
}
.iconos i{
    color: #156C4A;
    transition: all 350ms;
}
.iconos i:hover{
    color: #DEF3EB;
}

header ul li a {
    text-decoration: none;
    color: #156C4A;
    margin: 5px 10px;
    justify-content: space-around;
}

header ul {
    list-style: none;
    display: flex;
}

header img {
    width: 200px;
}

.burger-menu {
    text-align: start;
}

.burger-menu i {
    color: #156C4A;
    background: none;
    border-radius: 5px;
}
.buscar-div {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    max-width: 800px;
}

.buscar {
    width: 100%;
    padding: 8px 8px;
    border-color: #156C4A;
    border-radius: 20px;
}

.buscar-div i {
    position: absolute;
    left: 90%;
    top: 11px;
}
.lista-menu {
    display: none;
}

/********** MAIN **********/

h1 {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    padding-top: 15px;
    color: black;
}



.slider-frame {
    width: 500px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;

    animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

/********** FOOTER **********/

footer {
    background-color: #24262b;
    padding: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.atencion-clientes {
    margin: auto;
    text-align: center;
    margin: 10px;
}

.ayuda-clientes {
    max-width: 900px;
    text-align: center;
    margin: auto;
    width: 80%;
}

footer h3 {
    color: #ffffff;
    background-color: #156C4A;
    border-radius: 10px;
}

.flecha-div {
    position: fixed;
    right: 0;
    bottom: 0;
}

.flecha-inicio {
    color: #156C4A;
    text-align: center;
    font-size: 30px;
}

.contactos {
    display: none;
}

@media (min-width: 570px) {
    .contactos {
        display: block;
    }

    .contactos li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

    .contactos li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
}