* {
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: gray;
    margin: 0;
}
/********** HEADER **********/
header {
    background-color: #156C4A;
    width:100%;
    padding: 2px;
    position: fixed;
    top: 0;
    z-index: 100;
    flex-wrap: nowrap;
}

header ul li a{
    text-decoration: none;
    color: white;
    margin: 5px 10px;
    
}

header ul {
    list-style: none;
    display: flex;
}
.cabecera {
    box-sizing: border-box;
    display: flex;
    font-size: 40px;
    color: #ffffff;
    margin: 10% 0;  
    text-align: center;  
}

.logo-principal {
    display: none;
}

.burger-menu {
    text-align: center;
}

.burger-menu i{
    padding: 15px;
    margin: 20px 10px; 
    color: #156C4A;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
}

.lista-menu {
    display: none;
}
/********** MAIN **********/
main{
    width: 90%;
    margin: auto;
}
.lo-mas-vendido{
    display: flex;
    flex-wrap: wrap;
}
.producto{
    max-width: 400px;
}
.imagen-producto img{
    width: 90%;
    margin: auto;
    display: flex;
    
}
.info-producto{
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 5%;
    background-color: white;
}
.precio{
    margin: 0;
}
.descuento{
    margin: 0;
}
.descripcion h4{
    margin: 0;
}
   
 header .logo-mobile{
 display: block;
 height: auto;
 
 }
    
 header ul li a{
     text-decoration: none;
     color: white;
     margin: 5px 10px;
 }
 
 header ul {
     list-style: none;
     display: flex;
 }
 .cabecera {
     box-sizing: border-box;
     display: flex;
     width: 100%;
    }

 .logos  {
    margin: 4% auto;
    position: relative;
    z-index: 5;
    display: flex;
}
.logos img{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.fa {
  position:absolute;
  padding: 11px;
  right: 1px;
}
 .logo-principal {
     display: none;
 }
 
 .burger-menu {
     text-align: center;
 }
 
 .burger-menu i{
     padding: 15px;
     margin: 20px 10px; 
     color: #156C4A;
     background-color: #ffffff;
     border-radius: 5px;
     font-size: 20px;
 }
 
 .lista-menu {
     display: none;
 }
 
 
 
 /********** MAIN **********/
 main{
     width: 90%;
     margin: auto;
 }
 .producto{
     max-width: 400px;
 }
 .imagen-producto img{
     width: 90%;
     margin: auto;
     display: flex;
     
 }
 .info-producto{
     width: 90%;
     margin: auto;
     text-align: left;
     margin-bottom: 5%;
     background-color: white;
 }
 
 .precio{
     margin: 0;
 }
 .descuento{
     margin: 0;
 }
 .descripcion h4{
     margin: 0;
 }
 
 /********** FOOTER **********/

 footer {
    background-color: #DEF3EB;
    padding: 15px 20px 10px 0px;
 }

 .help {
    display: none;
 }
 .red {
    display: none;
 }
 .contact {
    display: none;
 }

 footer h3 {
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    background-color: #156C4A;
    align-items: center;
    border-radius: 10px;
 }

.flecha-inicio {
    color: #156C4A;
    text-align: center;
    font-size: 30px;
}

 /********** FOOTER VERSION ESCRITORIO ********** /*

footer {
    background-color: #DEF3EB;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

footer ul li a{
    text-decoration: none;
    color: #000;
} */


    

