<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar usuario:</h1>
    <form action="/users/<%= user.id %>/edit?_method=PUT" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="ejemplo@ejemplo.com" value="<%= user.email %>">
        <br>
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" placeholder="Ignacio" value="<%= user.username %>">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>