<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de usuario:</h1>
    <h2><%= user.email %> </h2>
    <h2><%= user.username %> </h2>

    <a href="/users/<%= user.id %>/edit/">
        <button>Editar usuario</button>
    </a>

    <form action="/users/<%= user.id %>/delete?_method=DELETE" method="post">
        <input type="submit" value="Eliminar Usuario">
    </form>
</body>
</html>