<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head_login.ejs') %> 

<body>

    <!-- ********** HEADER *********** -->
    <header>
        <div class="cabecera">

            <div class="header-mobile">

                <div class="iconos hambur"><i class="fas fa-bars"></i></div>
                <div class="iconos">
                    <a class="logo-principal" href="/"><img src="/images/logo.jpg" alt="logo"></a>
                    <!-- <a class="logo-mobile" href="/index.html"><img src="/images/logo-mobile.jpg" alt="logo-mobile"> --></a>
                </div>
                <div class="iconos2">
                    <div class="iconos">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <div class="iconos">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>

            </div>

            <nav class="menu">
                <ul class="lista-menu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Niño</a></li>
                    <li><a href="#">Niña</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
        </div>

        <div class="buscar-div">
            <label for=""></label>
            <input type="text" placeholder=" Buscar productos, marcas y más" required class="buscar">
            <i class="fas fa-search"></i>
        </div>
    </header>

    <!-- ********** MAIN *********** -->
<main>
    <form class="form">
        <h2 class="form__title">Inicia Sesión</h2>
        <p class="form__paragraph">¿Aún no tienes una cuenta? <a href="/register" class="form__link">Entra aquí</a></p>
        
        <div class="form__container">
           
            <div class="form__group">
                <input type="email" id="email" class="form__input" placeholder=" ">
                <label form="email" class="form__label">Correo electrónico:</label>
                <spam class="form__line"></spam>
            </div>
            <div class="form__group">
                <input type="password" id="password" class="form__input" placeholder=" ">
                <label form="password" class="form__label">Contraseña:</label>
                <spam class="form__line"></spam>
            </div>
            <div class="botones">
                <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Entrar</button>
            </div>
        </div>
    </form>
</main>
    <!-- ********** FOOTER *********** -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>