<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head_register.ejs') %> 

<body>
    <!-- ********** HEADER *********** -->
    <header>
        <div class="cabecera">

            <div class="header-mobile">

                <div class="iconos hambur"><i class="fas fa-bars"></i></div>
                <div class="iconos">
                    <a class="logo-principal" href="/"><img src="/images/logo.jpg" alt="logo"></a>
                    <!-- <a class="logo-mobile" href="/index.html"><img src="/images/logo-mobile.jpg" alt="logo-mobile"> --></a>
                </div>
                <div class="iconos2">
                    <div class="iconos">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <div class="iconos">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>

            </div>

            <nav class="menu">
                <ul class="lista-menu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Niño</a></li>
                    <li><a href="#">Niña</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </nav>
        </div>

        <div class="buscar-div">
            <label for=""></label>
            <input type="text" placeholder=" Buscar productos, marcas y más" required class="buscar">
            <i class="fas fa-search"></i>
        </div>
    </header>


    <!-- ********** MAIN *********** -->
    <main>
        <h2 class="titulo-main">Formulario de Registro</h2>
        <form id="formulario" action="/" post="get" class="creacion-formulario">
            <div class="control-form">
                <label for="nombre"></label>
                <input type="text" name="name" id="nombre" class="control" placeholder="Nombre y apellido">
            </div>

            <div class="control-form">
                <label for=""></label>
                <input type="text" name="nameUser" id="nombre-usuario" class="control" placeholder="Nombre de usuario">
            </div>

            <div class="control-form">
                <label for="fecha" class="titulos-form">Fecha de nacimiento</label>
                <input type="date" name="fechaNaci" id="fecha" class="control">
            </div>

            <div class="control-form">
                <label for="domicilio"></label>
                <input type="text" name="domic" id="domicilio" class="control" placeholder="Domicilio">
            </div>

            <div class="control-form">
                <label for="email"></label>
                <input type="email" name="email" id="email" class="control" placeholder="Email">
            </div>

            <div class="control-form">
                <label for="contraseña"></label>
                <input type="password" name="" id="contraseña" class="control" placeholder="Contraseña">
            </div>
            <div class="control-form">
                <label for="confirpass"></label>
                <input type="password" name="" id="confircontra" class="control" placeholder="Confirmar contraseña">
            </div>

            <div class="botones">
                <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Crear
                    usuario</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </div>
        </form>
        <div class="login">
            <p>Ya estás registrado? </p>
            <a href="/login" >Ingresa aquí</a>
        </div>
    </main>


    <!-- ********** FOOTER *********** -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>