<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shores - Carrito de Compras</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-productCart.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <!-- ********** HEADER *********** -->
    <%- include('../partials/header.ejs') %>

    <!-- ********** MAIN *********** -->
    <main>
        <nav class="inicio-carrito">
            <ul class="main-topbar">
                <li><a href="/">Inicio</a></li>
                <i class="fa-solid fa-chevron-right"></i>
                <li><a href="/product-cart">Carrito de Compras</a></li>
            </ul>
        </nav>

        <h2 class="sub-titulo">CARRITO DE COMPRAS</h2>
        <div class="producto-pago">

            <article class="producto-compra">

                <img src="/images/hombre/nike-running-revolution-1.jpg" alt="product"
                    class="product">

                <div class="detalle-producto-venta">
                    <h3>Nike Revolution 6NN</h3>
                    <h4>TALLE 43</h4>
                    <h4>TOTAL $16.599</h4>
                    <h5>SUBPRECIO $16.599</h5>
                </div>
                <div class="eliminar-producto">
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </article>

            <div class="confirmar-compra">
                <h4 class="resumen-compra">RESUMEN DE COMPRA</h4>
                <h4 class="subtotal">SUBTOTAL $16.599</h4>
                <h3 class="total">TOTAL $16.599</h3>
                <form>
                    <button type="submit" class="boton-pago">INICIAR PAGO ></button>
                </form>
            </div>
        </div>
    </main>

    <!-- ********** FOOTER *********** -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>